{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{%static 'assets/img/fixer-upper-logo.png' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>FixerUpper</b> Marketplace</h1>
                            <h3 class="h2">Best Local Marketplace in Malta</h3>
                            <p>
                                FixerUpper has been around way longer than your fat ass and has been providing premium local service. 
                                <a rel="sponsored" class="text-success" href="/service" target="_blank">Check out our services</a> 
                                <!-- website. 
                                Image credits go to <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Unsplash</a> and
                                <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons 8</a>. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{%static '/assets/img/escrow.png' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Why Choose Us?</h1>
                            <!-- <h3 class="h2">Simple cause there is Atakilti </h3> -->
                            <p>
                                We provide an <strong>escrow service </strong>that ensures <strong>security for both parties</strong>, whether you're the service provider or the client. Our commitment is to deliver the latest and best services tailored to your requirements. 
                                <!-- We offer <strong>the lateset and best services</strong> for your fat ass. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{%static '/assets/img/alarm.png' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Fast Services</h1>
                            <h3 class="h2">Service will be finished in a flash </h3>
                            <p>
                                We offer not only the best but also the fastest. We value your time. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    Explore our featured categories for the month:
                </p>
            </div>
        </div>
        <div class="row">
            {% for category in categories %}
            <div class="col-12 col-md-4 p-5 mt-3">
                {% if category.image %}
                <a href=""><img src="{{ category.image.url }}" alt="{{ category.name }} Image"  class="rounded-circle img-fluid border"></a>
                {% else %}
                    No image available
                {% endif %}
                <h5 class="text-center mt-3 mb-3">{{category.name}}</h5>
                <p class="text-center"><a href="/category/{{ category.name }}" class="btn btn-success">Discover More</a></p>
            </div>
            {% endfor %}
        </div>
    
    </section>
    <!-- End Categories of The Month -->
        <!-- Start Featured Product -->
        <section class="bg-light">
            <div class="container py-5">
                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Latest Services</h1>
                        <p>
                            Check out our newest offerings:
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for latest_service in latest_services %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/service/{{latest_service.service.id}}">
                                <img src="{{ latest_service.service.image.url }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        {% for star in "12345" %}
                                        {% if forloop.counter <= latest_service.rating%}
                                        <i class="text-warning fa fa-star"></i>
                                        {% else %}
                                        <i class="text-muted fa fa-star"></i>
                                        {% endif %}
                                        {% endfor %}
                                    </li>
                                    <li class="text-muted text-right">€{{latest_service.service.price}}</li>
                                </ul>
                                <a href="/service/{{latest_service.service.id}}" class="h2 text-decoration-none text-dark">{{latest_service.service.name}}</a>
                                <p class="card-text">
                                    {{latest_service.service.description}}
                                </p>
                                <p class="text-muted">Reviews (24)</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End Featured Product -->



{% endblock %}